.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    transition: opacity 0.15s;
    vertical-align: top;
}

.subscribe-button:hover {
    opacity: 0.75;
}

.subscribe-button:active {
    opacity: 0.45;
}

.join-button {
    background-color: white;
    color: rgb(41, 118, 211);
    ;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s, color 0.15s;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 16px;
    padding-left: 16px;
    vertical-align: top;
}

.join-button:hover {
    background-color: rgb(41, 118, 211);
    color: white;

}

.join-button:active {
    opacity: 0.75;
}

.tweet-button {
    background-color: rgb(2, 158, 255);
    color: white;
    font-size: 15;
    font-weight: bold;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    vertical-align: top;
}

.tweet-button:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.apply-button {
    background-color: rgb(10, 102, 194);
    color: white;
    font-size: 15;
    font-weight: bold;
    border: none;
    height: 35px;
    width: 220px;
    border-radius: 18px;
    cursor: pointer;
    margin-right: 8px;
    vertical-align: top;
}

.save-button {
    background-color: white;
    color: rgb(10, 102, 194);
    font-weight: bold;
    border-color: rgb(10, 102, 194);
    border-width: 1px;
    border-style: solid;
    height: 35px;
    width: 74px;
    border-radius: 18px;
    cursor: pointer;
    vertical-align: top;
}