.text-field {
    display: block;
    margin-bottom: 10px;
    padding: 12px;
}

p {
    width: 210px;
    display: inline-block;
    vertical-align: middle;

}

.logo {
    margin-top: 100px;
    width: 250px;
    display: block;
    margin-left: 140px;
    margin-bottom: 10px;
}

.google-field {
    border-radius: 20px;
    border: none;
    outline: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    width: 500px;
    font-size: 16px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    display: block;
}

input {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    margin-bottom: 12px;
    width: 150px;
}

.email {
    display: block;
    width: 336px;
}

.signup {
    background-color: blue;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    color: white;
    border-radius: 10px;
    width: 368px;
    font-weight: bold;
}