.square {
    background-color: red;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
}

.circle {
    background-color: blue;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-bottom: 50px;
}

.box {
    width: 300px;
    height: 80px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding: 16px;
    margin-bottom: 50px;
}

.youtube-box {
    background-color: black;
    width: 330px;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 50px;
}

.title {
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    color: grey;
}

.cat-box {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 200px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: top;
}

.cat-image {
    margin-bottom: 0px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.cat-title {
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.cat-subtitle {
    color: grey;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.cat-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin-left: 16px;
    margin-bottom: 10px;
}

.google-div {
    text-align: center;
}

.logo {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 250px;
}

.google-field {
    border-radius: 20px;
    border: none;
    outline: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    width: 500px;
    font-size: 16px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;

}

.google-btn {
    background-color: rgb(238, 238, 238);
    color: black;
    padding: 8px;
    border: none;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.search-btn{
    margin-right: 10px;
}