div {
    display: inline-block;
    vertical-align: middle;
}

.profile-pic {
    width: 50px;
    border-radius: 25px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.follow-btn {
    color: white;
    background-color: blue;
    border: none;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    margin-left: 40px;
}

.info {
    margin-left: 5px;
}

.title {
    font-weight: bold;
    margin-bottom: 4px;
}

.subtitle {
    color: grey;
    margin-bottom: 4px;
}

.bio {
    font-size: 14px;
    color: grey;
}