p {
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
}

.video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}

.video-author {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    margin-bottom: 20px;
}

.video-description {
    font-size: 14px;
    color: rgb(96, 96, 96);
    line-height: 22px;
    margin-bottom: 50px;
}

.banner {
    background-color: red;
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.banner-link:hover {
    cursor: pointer;
    text-decoration: underline;
}