.search {
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    margin-right: 20px;
}

.google {
    border-radius: 20px;
    border: none;
    outline: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    width: 300px;
    font-size: 16px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    font-family: Arial;
    color: rgb(100, 100, 100);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;

}

.email {
    color: rgb(107, 94, 94);
    font-size: 16px;
    margin-bottom: 5px;
}

.email-field {
    font-size: 16px;
    width: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.disclaimer {
    font-size: 16px;
    margin-bottom: 20px;
}

.agree {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    font-size: 20px;
    width: 400px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 20px;
}

.tweet-box {
    border: none;
    outline: none;
    font-size: 16px;
    vertical-align: middle;
    width: 300px;
}

.tweet {
    background-color: blue;
    color: white;
    vertical-align: middle;
    border: none;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 16px;
    font-weight: bold;
}